.tags {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  animation: bgAnim 0.5s linear forwards;
}

@keyframes bgAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

.tags__container {
  width: 35%;
  padding: 2em;
  height: 100%;
  background-color: #fff;
  animation: tagAnim 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes tagAnim {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.tags__header {
  display: flex;
  width: 100%;
  /* background-color: #9209; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em 0em;
  border-bottom: 2px solid #666;
  margin-bottom: 0.8em;
}
.tags__header > h2 {
  font-weight: 450;
  font-size: 1.3rem;
}

.tags__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.tags__icons > div {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}
.tags__icons .MuiSvgIcon-root {
  color: #ccc;
}
.tags--rotate {
  transform: rotate(90deg);
}
.tags__icons > div > div:nth-child(2) {
  margin-left: -0.5em;
}

.tags--rotateIcon > .MuiSvgIcon-root {
  font-size: 1.2rem;
  color: #00a827;
}
.tags--rotateIcon {
  transform: rotate(45deg);
  margin-right: -0.5em;
}

.tags__search {
  display: flex;
  align-items: center;
  /* background-color: #278290; */
  justify-content: space-between;
  /* border-radius: 10px; */
  overflow: hidden;
  padding-right: 0.3em;
  /* border: 1px solid #ccc; */
  margin-bottom: 8em;
  position: relative;
}

.tags__search:active {
  /* border: 10px solid #ccc; */
}

.tags__search > input:active,
.tags__search > input:focus {
  border: 1px solid #0081c2;
}

.tags__search > input {
  border: 1px solid #ccc;
  flex: 1;
  outline: none;
  /* border: none; */
  padding: 0.7em;
  font-size: 0.9rem;
  border-radius: 10px;
}

.tags__search > .MuiSvgIcon-root {
  font-size: 1.3rem;
  color: #a6a6a6;
  position: absolute;
  right: 2%;
}

.tag__body {
  margin-top: 10em;
}
.tag__icon {
  display: flex;
  align-items: center;
  width: 100%;
  /* background-color: #827; */
  justify-content: center;
  position: relative;
  margin-bottom: 2.5em;
}
.tag__icon > div:nth-child(1) > .MuiSvgIcon-root {
  font-size: 1.5rem;
  color: #e1ea66;
  font-weight: bolder;
}
.tag__icon > div:nth-child(2) > .MuiSvgIcon-root {
  font-size: 1.5rem;
  color: #66cb81;
  font-weight: bolder;
}
.tag__icon > div:nth-child(3) > .MuiSvgIcon-root {
  font-size: 1.5rem;
  color: #e1ea66;
  font-weight: bolder;
}
.tag__icon > div:nth-child(1) {
  position: absolute;
  top: -20%;
  left: 30%;
  width: 100%;
  height: 100%;
}
.tag__icon > div:nth-child(2) {
  position: absolute;
  bottom: 15%;
  left: 30%;
  transform: rotate(-90deg);
}
.tag__icon > div:nth-child(3) {
  right: 20%;
  position: absolute;
  bottom: 30%;
}

.tag__main {
  transform: rotate(45deg);
}
.tag__main > .MuiSvgIcon-root {
  font-size: 7rem;
  color: #d9d9d9;
}

.tag__text {
  text-align: center;
}
.tag__text > h2 {
  font-size: 1.1rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 1em;
}

.tag__text > p {
  color: #737373;
  font-size: 1rem;
}
